<?xml version="1.0"?>
<!--
/**
 * Copyright © Zhik. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dealerlocator>
            <general>
                <enabled>1</enabled>
                <require_approval>1</require_approval>
                <auto_approve>0</auto_approve>
            </general>
            <google_maps>
                <api_key></api_key>
            </google_maps>
            <map>
                <default_latitude>40.7128</default_latitude>
                <default_longitude>-74.0060</default_longitude>
                <default_zoom>10</default_zoom>
                <cluster_enabled>1</cluster_enabled>
                <cluster_grid_size>60</cluster_grid_size>
                <cluster_min_size>3</cluster_min_size>
            </map>
            <email>
                <send_customer_notifications>1</send_customer_notifications>
                <send_admin_notifications>1</send_admin_notifications>
                <admin_new_submission_template>dealerlocator_email_admin_new_submission</admin_new_submission_template>
                <customer_submission_confirmation_template>dealerlocator_email_customer_submission_confirmation</customer_submission_confirmation_template>
                <customer_location_approved_template>dealerlocator_email_customer_location_approved</customer_location_approved_template>
                <customer_location_rejected_template>dealerlocator_email_customer_location_rejected</customer_location_rejected_template>
            </email>
            <fields>
                <hours_enabled>1</hours_enabled>
                <hours_required>0</hours_required>
                <website_enabled>1</website_enabled>
                <website_required>0</website_required>
                <description_enabled>1</description_enabled>
                <image_enabled>1</image_enabled>
            </fields>
            <geolocation>
                <enabled>1</enabled>
                <service>ipapi</service>
                <ipinfo_token></ipinfo_token>
                <default_radius>50</default_radius>
            </geolocation>
        </dealerlocator>
    </default>
</config>