<?xml version="1.0"?>
<!--
/**
 * Copyright © Zhik. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zhik_DealerLocator::dealer_locator" 
             title="Dealer Locator" 
             module="Zhik_DealerLocator" 
             sortOrder="70" 
             resource="Zhik_DealerLocator::dealer_locator"/>
        
        <add id="Zhik_DealerLocator::locations" 
             title="Manage Locations" 
             module="Zhik_DealerLocator" 
             sortOrder="10" 
             parent="Zhik_DealerLocator::dealer_locator" 
             action="dealerlocator/location/index" 
             resource="Zhik_DealerLocator::locations_view"/>
        
        <add id="Zhik_DealerLocator::tags" 
             title="Manage Tags" 
             module="Zhik_DealerLocator" 
             sortOrder="20" 
             parent="Zhik_DealerLocator::dealer_locator" 
             action="dealerlocator/tag/index" 
             resource="Zhik_DealerLocator::tags_view"/>
        
        <add id="Zhik_DealerLocator::configuration" 
             title="Configuration" 
             module="Zhik_DealerLocator" 
             sortOrder="100" 
             parent="Zhik_DealerLocator::dealer_locator" 
             action="adminhtml/system_config/edit/section/dealerlocator" 
             resource="Zhik_DealerLocator::configuration"/>
    </menu>
</config>